# FastAPI Web Framework

fastapi
uvicorn[standard]
# CRITICAL for handling file uploads (FormData)
python-multipart 

# Core Machine Learning Dependencies
transformers==4.41.0
torch

# Data Modeling (Pydantic is used by FastAPI)
PyMuPDF
pydantic

# CRITICAL for Image Analysis (OCR)
pytesseract
Pillow